@import "reset.scss";

.hidden {
    visibility: hidden;
    display: none !important;
}

html,
body {
    width: 100%;
    height: 100%;
}

input[type="text"] {
    background-color: #e0f7fa;
}

input[type="number"] {
    background-color: #e0f7fa;
}

input[type="tel"] {
    background-color: #e0f7fa;
}

input[type="email"] {
    background-color: #e0f7fa;
}

input[type="text"]:disabled {
    background: #dddddd;
}

input {
    border: 1px solid black;
    padding: 5px;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
}
